.list__item {
  background-color: white;
  padding: 20px 20px;
  border-radius: 1%;
  display: flex;
  gap: 20px;
  font-family: "Noto Sans JP", sans-serif;

  .icon {
    font-size: 50px;
  }

  .item__members {
    display: flex;
  }
}
