.background {
  width: 706px;
  height: 786px;
  background-color: rgb(171, 193, 212);
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__card {
  width: 650px;
  height: 700px;
  background-color: white;
  padding: 15px 15px;
}

.card__img {
  width: 90px;
  height: 90px;
}

.top__card {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.botton__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
