.title {
  background-color: grey;
  height: 50px;
}

.nav {
  background-color: greenyellow;
}

.article1 {
  background-color: yellow;
}

.related {
  background-color: grey;
  height: 300px;
  display: flex;
  flex-direction: column;
  /*margin-top: 10px;
  margin.bottom: 10px;*/
}

.article2 {
  background-color: hotpink;
  justify-content: center;
